workDir = "${projectDir}/../work"

executor {
    name = 'local'
    cpus = params.max_threads as int
    memory = "${params.max_memory_gb as int} GB"
}

params {
    outdir = "${projectDir}/../results/phase3_minimal"
    publish_mode = 'copy'
}

timeline {
    enabled = true
    file = "${params.outdir}/logs/timeline.html"
    overwrite = true
}

report {
    enabled = true
    file = "${params.outdir}/logs/report.html"
    overwrite = true
}

trace {
    enabled = true
    file = "${params.outdir}/logs/trace.txt"
    overwrite = true
}

dag {
    enabled = true
    file = "${params.outdir}/logs/dag.html"
    overwrite = true
}
